
.task {
    background-color: #f4f4f4;
    margin: 10px;
    padding: 10px 15px;
    cursor: pointer; /*para hacerlo clickeable en algun momento*/
}

.task.recordatorio {
    border-left: yellow;
}

.task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}